<center>
<h1>Welcome to the Smoothie Shack!</h1>
<p>This will be the first place viewers see when coming to the site. It will have pictures to capture the viewers 
into buying a smoothie!</p>
<br /><br /><br /><br />

<%= link_to "Our Delicious Smoothies", showproducts_productsout_path %>
</center>
